{% load static %}
<footer id="the-footer">
    <div class="right-side-footer">
        <div class="logo">
            <img src="{% static '/img/icons/logo.svg' %}" alt="Castle Apartments Logo" class="logoImg">
            <div class="logoTextContainer">
                    <h1>Castle</h1>
                    <h1>Apartments</h1>
            </div>
        </div>
    </div>
    <span class="right-side-footer">Facebook: @castleapartments</span>
    <p class="left-side-footer">Finndu drauma eignina þína á Castle apartments</p>
    <span class="right-side-footer">Instagram:@castle_apartments</span>
    <p class="left-side-footer">Castle apartments ehf.</p>
    <span class="right-side-footer">Linked In: @castleapartments</span>

</footer>