{% load static %}

<footer>
  <div class="footer-grids">
    <div class="left">
        <div class="logo">
            <img src="{% static '/img/icons/logo.svg' %}" alt="Castle Apartments Logo" class="logoImg">
            <div class="logoTextContainer">
                    <h1>Castle</h1>
                    <h1>Apartments</h1>
            </div>
        </div>
    </div>
    <div class="right" id="right-to-logo"><b>Facebook:</b> @castleapartments</div>
  </div>
  <div class="footer-grids">
    <div class="left" id="company-tagline"><b>Finndu drauma eignina þína á Castle apartments</b></div>
      <div class="right"><b>Instagram:</b> @castle_apartments</div>
  </div>
  <div class="footer-grids">
    <div class="left" id="company-ehf">Castle apartments ehf.</div>
      <div class="right"><b>Linked In:</b> @castleapartments</div>
  </div>
</footer>