{% load static %}
<nav>
    <div class="navbar">
        <div class="logo">
            <!--<img src="logo.png" alt="Logo" class="logoImg">>>!-->
            <img src="{% static '/img/icons/logo.svg' %}" alt="Castle Apartments Logo" class="logoImg">
            <div class="logoTextContainer">
                <h1>Castle</h1>
                <h1>Apartments</h1>
            </div>
        </div>
        <div class="nav-links">
            <a href="index.html">Heim</a>
            <a href="property.html">Skrá eign</a>
            <a href="my.html">Mínar síður</a>
        </div>
        <div class="loginBtnContainer">
            <button class="loginBtn">Innskráning</button>
        </div>
    </div>
</nav>