{% load static %}
<nav class="navbar">
    <a href="/" class="logo">
        <!--<img src="logo.png" alt="Logo" class="logoImg">>>!-->
        <img src="{% static '/img/icons/logo.svg' %}" alt="Castle Apartments Logo" class="logoImg">
        <div class="logoTextContainer">
            <h1>Castle</h1>
            <h1>Apartments</h1>
        </div>
    </a>
    <div class="nav-links">
        <a href="/">Heim</a>
        <a href="/listing/">Skrá eign</a>
        {% if user.is_authenticated %}
        <a href="/mypages">Mínar síður</a>
        {% endif %}
    </div>
    <div class="loginBtnContainer">
        <button class="loginBtn" onclick="window.location.href='/login'">Innskráning</button>
    </div>
</nav>