{% load static %}

    {% if listings %}
    <div class="grid grid-3column g-4 my-2">
        {% for listing in listings %}
        <a href="/listing/{{ listing.id }}" class="flex flex-col text-decor-none text-black">
            <img class="rounded-lg mb-2 asp-3-2" src="{% static '/img/test/listingtest.png' %}">
            <div class="flex flex-col px-2">
                <div class="flex justify-between mb-2">
                    <p class="text-base"><b>{{ listing.address }}</b></p>
                    {% if not listing.sold %}
                        <p class="text-base text-green">Í sölu</p>
                    {% else %}
                        <p class="text-base text-red">Seld</p>
                    {% endif %}
                </div>
                <div class="flex justify-between mb-2">
                    <p class="text-base">{{ listing.postcode }} {{ listing.postcode.location }}</p>
                    <p class="text-base"><b>Tegund:</b> {{ listing.type.type }}</p>
                </div>
                <div class="flex justify-between mb-2">
                    <p class="text-base"><b>Fermetrar:</b> {{ listing.sqr_meters }}</p>
                    <p class="text-base"><b>Herbergi:</b> {{ listing.rooms }}</p>
                </div>
                <div class="flex justify-between mb-2">
                    <p class="text-base"><b>Ásett verð</b></p>
                    <p class="text-base">{{ listing.price }} kr.</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="minh-30v">
        <h4 class="text-gray font-light text-lg my-4">Engar eignir fundust með þessum skilyrðum.</h4>
    </div>
    {% endif %}
</div>