{% load static %}

    {% if listings %}
    <div class="grid grid-3column g-4 my-2">
        {% for listing in listings %}
        <div class="flex flex-col text-decor-none text-black pos-rel">
            <img class="rounded-3 mb-2 asp-3-2" src="{% if listing.thumbnail_path %}{{ listing.thumbnail_path.url }}{% else %}/media/img/listingimages/default.png{% endif %}">
            <button data-id="{{ listing.id }}" class="bookmark-button">
                <i class="far fa-bookmark text-primary"></i>
            </button>
            <div class="flex flex-col px-2">
                <div class="flex justify-between mb-2">
                    <p class="text-lg mt-3"><b>{{ listing.address }}</b></p>
                    {% if not listing.sold %}
                        <p class="text-base text-green mt-3">Í sölu</p>
                    {% else %}
                        <p class="text-base text-red">Seld</p>
                    {% endif %}
                </div>
                <div class="flex justify-between mb-2">
                    <p class="text-base font-light text-sm">{{ listing.postcode }} {{ listing.postcode.location }}</p>
                    <p class="text-base font-light text-sm"><b>Tegund:</b> {{ listing.type.type }}</p>
                </div>
                <div class="flex justify-between mb-2">
                    <p class="text-base font-light size text-sm"><b>Fermetrar:</b> {{ listing.sqr_meters }}</p>
                    <p class="text-base font-light text-sm"><b>Herbergi:</b> {{ listing.rooms }}</p>
                </div>
                <div class="flex justify-between mb-2">
                    <p class="text-base text-sm font-light"><b>Ásett verð:</b></p>
                    <p class="text-base text-l">{{ listing.price }} kr.</p>
                </div>
            </div>
        </diva>
        {% endfor %}
    </div>
    {% else %}
    <div class="minh-30v">
        <h4 class="text-gray font-light text-lg my-4">Engar eignir fundust með þessum skilyrðum.</h4>
    </div>
    {% endif %}
</div>