{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="whitespace30 mt-8">
    <h1 class="g-2">Gera tilboð</h1>
    <p class="text-sm">Gerðu tilboð í Heimilisfang 123</p>
    <div class="inputContainer flex-col">
    <br>
        <label for="input-amount" class="flex flex-col text-sm">Upphæð</label>
        <input type="text" id="input-amount" class="w-full h-full no-border rounded-lg bg-none p-2-left text-base bg-white h-8">
        <label for="input-expiry" class="flex flex-col text-sm">Rennur út</label>
        <input type="text" id="input-expiry" class="w-full h-full no-border rounded-lg bg-none p-2-left text-base bg-white h-8">
    </div>
    <br>
    <div class="flex flex-row">
    <button class="bg-gray text-black rounded no-border w-half p-1 text-base mb-4 mt-2">Hætta við</button>
    <button class="bg-black text-white rounded no-border w-half p-1 text-base mb-4 mt-2">Staðfesta</button>
    </div>
</div>

{% endblock %}
