
@font-face {
    font-family: 'logo-font';
    src: url('../fonts/Fontspring-DEMO-integralcf-heavy.otf') format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
    background: #fafafa;
}

input:focus-visible {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
}

.navbar a {
    text-decoration: none;
    color: #333438;
    font-size: 1.2rem;
    margin: 0 20px;
    font-weight: 700;
}

.logo {
    display: flex;
    align-items: center;
    width: 272px;
}

.logoImg {
    margin: 2px;
}

.logo h1 {
    font-family: 'logo-font', sans-serif;
    color:#333438;
    font-size: 25px;
    margin: 0 18px;
}

.loginBtnContainer {
    width: 272px;
}

.loginBtn {
    float: right;
    width: 7rem;
    height: 2.8rem;
    border: none;
    border-radius: 5rem;
    background: #333438;
    font-size: 1rem;
    color: #ffffff;
    margin: 0.5rem;
    cursor: pointer;
}

.loginBtn:hover {
    background: #4e5059;
    color: #ffffff;
    transition: 0.2s;
}
.loginBtn:active {
    background: #38a5ff;
    color: #ffffff;
    transition: 0.1s;
}

.intro {
    display: flex;
    margin: 10% 20% 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.intro h1 {
    font-size: 4rem;
    font-weight: 600;
    color: #212227;
    text-shadow: 0px 8px 20px rgb(0 0 0 / 10%);
}

.intro h4 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #747474;
    margin: 2% 0;
}

.searchContainer {
    height: 3rem;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin: 1% 0;
    border-radius: 10rem;
}

.searchInput {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
    padding-left: 20px;
    font-size: 1rem;
    color: #3E4851;
}

.searchBtn {
    width: 6rem;
    border: none;
    border-radius: 10rem;
    background: #ffffff;
    font-size: 1rem;
    color: #333438;
    margin: 0.5rem;
    cursor: pointer;
}

.searchBtn:hover {
    background: #5cb6ff;
    color: #ffffff;
    transition: 0.2s;
}
.searchBtn:active {
    background: #38a5ff;
    color: #ffffff;
    transition: 0.1s;
}

.searchIcon {
    margin: 0 0.4rem 0 0.1rem;
}

footer {
    height: 275px;
    width: 100%;
    background: #212227;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 30px;
    margin-top: 30px
}

.footer-grids {
    display: flex;
    justify-content: space-between;
    margin-top: 30px
}
.left {
    max-width: 300px;
}


.profilePic {
    border-radius: 50%;
    width: 48px;
    aspect-ratio: 1;
}

.profilePicLarge {
    border-radius: 50%;
    width: 130px;
    margin-top: -65px;
}

.col34 {
    flex-basis: 34%;
}

.col66 {
    flex-basis: 66%;
}

.pageTitle {
    text-align: center;
}

.infoBox {
    background: #f0f0f0;
    margin: 0 1rem;
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
}

.infoText {
    margin: auto;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 10rem;
}

.descRow {
    display: flex;
    justify-content: space-between;
    margin: 0.4rem 0;
}

.fullImageLarge img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 16px;
}

.fullImageSmall {
    height: 70vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fullImageLarge {
    height: 70vh;
    padding: 1rem;
}

.fullImageSmall img {
    width: 100%;
    height: 48%;
    object-fit: cover;
    border-radius: 16px;
}



.green {
    color: #34c558;
}


.actionButton {
    background: #ffffff;
    color: #000000;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 6px;
    font-size: 1rem;
    margin: 16px 0 10px;
}

.invert {
    background: #000000;
    color: #ffffff;
}

.inputContainer {
    display: flex;
    justify-content: center;
    margin: 1% 0;
    border-radius: 10rem;
}

.listing-item {
    display: flex;
}

.order-by-option {
    display: inline-block;
    padding: 0.25rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 0.75rem;
}

input[type="radio"]:checked + .order-by-option {
  background-color: #007bff; /* Bootstrap blue */
  border-color: #007bff;
    color: white;
}