{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="whitespace30 mt-8">
        <h1 class="g-2 ml-2">Skrá eign</h1>
        <p class="text-sm ml-2">Settu þína eign á vefinn okkar og sjáðu hvort þú fáir tilboð</p>
        <form method="POST">
            {% csrf_token %}
            <div class="inputContainer flex-col g-2">
            <br>
                <label for="input-address" class="flex flex-col text-sm ml-2">Heimilisfang</label>
                <input type="text" id="input-address" name="address" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                <div class="flex g-4">
                    <label for="input-location" class="flex flex-col text-sm ml-2 w-half">Staðsetning</label>
                    <label for="input-postcode" class="flex flex-col text-sm ml-2 w-half">Póstnúmer</label>
                </div>
                <div class="flex g-4">
                    <select id="input-location" name="location" class="w-half no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                        <option value=""></option>
                        {% for location in postcodes_by_location.keys %}
                            <option value="{{ location }}">{{ location }}</option>
                        {% endfor %}
                    </select>
                    <select id="input-postcode" name="postcode" class="w-half no-border rounded-lg bg-none p-2-left text-base bg-white h-10" disabled>
                        <option value=""></option>
                        {% for location, postcodes in postcodes_by_location.items %}
                            {% for postcode in postcodes %}
                                <option value="{{ postcode }}" data-location="{{ location }}">{{ postcode }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="flex g-4">
                    <label for="select-type" class="flex flex-col text-sm ml-2 w-half" >Tegund</label>
                    <label for="input-square-meters" class="flex flex-col text-sm ml-2 w-half">Fermetrar</label>
                </div>
                <div class="flex g-4">
                    <select id="select-type" name="type" class="w-half no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                        <option value=""></option>
                        {% for type in types %}
                            <option value="{{ type.id }}">{{ type.type }}</option>
                        {% endfor %}
                    </select>
                    <input type="number" id="input-square-meters" name="sqr_meters" class="w-half no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                </div>
                <div class="flex g-4">
                    <label for="input-rooms" class="flex flex-col text-sm ml-2 w-33">Fjöldi herbergja</label>
                    <label for="input-bedrooms" class="flex flex-col text-sm ml-2 w-33">Fjöldi svefnherbergja</label>
                    <label for="input-bathrooms" class="flex flex-col text-sm ml-2 w-33">Fjöldi baðherbergja</label>
                </div>
                <div class="flex g-4">
                    <input type="number" id="input-rooms" min="0" name="rooms" class="w-33 no-border rounded-lg bg-none p-2-left text-base bg-white h-10" disabled>
                    <input type="number" id="input-bedrooms" min="0" name="bedrooms" class="w-33 no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                    <input type="number" id="input-bathrooms" min="0" name="bathrooms" class="w-33 no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                </div>
                <label for="input-description" class="flex flex-col text-sm ml-2">Lýsing eignar</label>
                <textarea id="input-description" name="description" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-20" rows="10" cols="60" placeholder="Type here..."></textarea>
            </div>
            <br>
            <div class="flex g-4">
                <label for="choose-image" class="flex flex-col text-sm ml-2"><i class="fa fa-file-image-o"></i>  Bæta við mynd</label>
                <input type="file" id="choose-image" name="listing_image" class="bg-gray text-black no-border w-fit-content p-1 text-sm rounded-lg" accept=".jpg,.jpeg,.png" multiple>
            </div>
            <div class="flex flex-row g-4">
                <button type="button" onclick="window.location.href='/'" class="bg-gray text-black no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Hætta við</button>
                <button type="submit" class="bg-black text-white no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Staðfesta</button>
            </div>
        </form>
    </div>
    <script src="{% static '/scripts/create_listing.js' %}"></script>
{% endblock %}