{% extends "base.html" %}
{% load static %}

{% block title %}Castle Apartments{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="flex flex-col text-center items-center whitespace8 mtv-10">
        <div class="whitespace12 flex flex-col text-center items-center">
            <h1 class="text-dark text-title font-medium text-shadow-soft">Finndu drauma eignina þína á Castle
                Apartments</h1>
            <h4 class="text-gray font-light text-lg my-4">Hér eru {{ listing_count }} eignir til sölu</h4>
            <div class="searchContainer wp-80">
                <input id="search-bar" type="text" placeholder="Leita að eignum..." class="searchInput">
                <button id="search-button" class="searchBtn"><img src="{% static 'img/icons/searchicon.svg' %}"
                                                                  alt="search icon" class="inline-block mr-1">Leita
                </button>
            </div>
        </div>

        <div class="grid grid-2column g-4 mt-4 mb-4">
            <div>
                <button id="postcode"
                        class="filter-button flex justify-between w-screen-12 w-fit-min p-2 items-center no-border rounded-lg bg-white">
                <span class="flex items-center g-2">
                    <i class="fas fa-map-marker-alt text-primary"></i>Póstnúmer
                </span>
                    <i class="fa fa-angle-down ml-2"></i>
                </button>
                <div class="p-2 pos-abs bg-white rounded-lg box-shadow-down hidden zindex">
                    <div id="postcode-filter" class="filter maxh-30v overflow-auto bg-white w-screen-12 w-fit-min">
                        {% for city, postcodes in postcodes_by_location.items %}
                            <div class="city-block text-left user-select-none">
                                <i data-target="city-{{ city }}" class="expand-button-city fa fa-angle-right mx-2"></i>
                                <label class="">
                                    <input type="checkbox" class="city-checkbox" data-city="{{ city }}">
                                    <strong>{{ city }}</strong>
                                </label>
                                <div id="city-{{ city }}"
                                     class="postcode-list grid grid-2column justify-items-center hidden user-select-none">
                                    {% for postcode in postcodes %}
                                        <label class="">
                                            <input type="checkbox" class="postcode-checkbox" data-city="{{ city }}"
                                                   value="{{ postcode }}">
                                            {{ postcode }}
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <button id="type"
                        class="filter-button flex justify-between w-screen-12 w-fit-min p-2 items-center no-border rounded-lg bg-white">
                <span class="flex items-center g-2">
                    <i class="fas fa-home text-primary"></i>Tegund
                </span>
                    <i class="fa fa-angle-down ml-2"></i>
                </button>
                <div class="p-2 pos-abs bg-white rounded-lg box-shadow-down hidden zindex">
                    <div id="type-filter"
                         class="filter maxh-30v overflow-auto bg-white w-screen-12 w-fit-min">
                        {% for type in types %}
                            <div class="city-block text-left user-select-none">
                                <label class="">
                                    <input type="checkbox" class="type-checkbox" value="{{ type.id }}">
                                    {{ type.type }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div>
                <button id="meter"
                        class="filter-button flex justify-between w-screen-12 w-fit-min p-2 items-center no-border rounded-lg bg-white">
                <span class="flex items-center g-2">
                    <i class="fas fa-ruler text-primary"></i>Fermetrar
                </span>
                    <i class="fa fa-angle-down ml-2"></i>
                </button>
                <div class="p-2 pos-abs bg-white rounded-lg box-shadow-down hidden zindex">
                    <div id="meter-filter"
                         class="filter flex maxh-30v overflow-auto bg-white w-screen-12 w-fit-min">
                        <div class="city-block basis50 text-center user-select-none">
                            <label class="">
                                Frá:
                                <select id="meter-from-filter">
                                    <option value=""></option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                    <option value="110">110</option>
                                    <option value="120">120</option>
                                    <option value="130">130</option>
                                    <option value="140">140</option>
                                    <option value="150">150</option>
                                    <option value="160">160</option>
                                    <option value="170">170</option>
                                    <option value="180">180</option>
                                    <option value="190">190</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                        </div>
                        <div class="city-block basis50 text-center user-select-none">
                            <label class="">
                                Til:
                                <select id="meter-to-filter">
                                    <option value=""></option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                    <option value="110">110</option>
                                    <option value="120">120</option>
                                    <option value="130">130</option>
                                    <option value="140">140</option>
                                    <option value="150">150</option>
                                    <option value="160">160</option>
                                    <option value="170">170</option>
                                    <option value="180">180</option>
                                    <option value="190">190</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button id="price"
                        class="filter-button flex justify-between w-screen-12 w-fit-min p-2 items-center no-border rounded-lg bg-white">
                <span class="flex items-center g-2">
                    <i class="fa fa-dollar text-primary"></i>Verð
                </span>
                    <i class="fa fa-angle-down ml-2"></i>
                </button>
                <div class="p-2 pos-abs bg-white rounded-lg box-shadow-down hidden zindex">
                    <div id="price-filter"
                         class="filter flex maxh-30v overflow-auto bg-white w-screen-12 w-fit-min">
                        <div class="city-block basis50 text-center user-select-none">
                            <label class="">
                                Frá:
                                <select id="price-from-filter">
                                    <option value=""></option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                    <option value="110">110</option>
                                    <option value="120">120</option>
                                    <option value="130">130</option>
                                    <option value="140">140</option>
                                    <option value="150">150</option>
                                    <option value="160">160</option>
                                    <option value="170">170</option>
                                    <option value="180">180</option>
                                    <option value="190">190</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                        </div>
                        <div class="city-block basis50 text-center user-select-none">
                            <label class="">
                                Til:
                                <select id="price-to-filter">
                                    <option value=""></option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="40">40</option>
                                    <option value="50">50</option>
                                    <option value="60">60</option>
                                    <option value="70">70</option>
                                    <option value="80">80</option>
                                    <option value="90">90</option>
                                    <option value="100">100</option>
                                    <option value="110">110</option>
                                    <option value="120">120</option>
                                    <option value="130">130</option>
                                    <option value="140">140</option>
                                    <option value="150">150</option>
                                    <option value="160">160</option>
                                    <option value="170">170</option>
                                    <option value="180">180</option>
                                    <option value="190">190</option>
                                    <option value="200">200</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full">
            <div class="flex flex-col my-8">
                <div class="flex">
                    <div>
                        <button id="order-by"
                                class="filter-button flex justify-between px-2 items-center no-border h-8 rounded-lg bg-white w-fit"><span
                                class="flex items-center g-2"><i class="fa fa-sort text-dark"></i>Raða eftir...</span>
                        </button>
                        <div class="p-2 pos-abs bg-white rounded-lg box-shadow-down hidden zindex">
                            <div id="order-by-filter"
                                 class="filter flex flex-col maxh-30v overflow-auto bg-white w-screen-8 w-fit-min">
                                <input type="radio" id="order-none" name="order-by" value="undefined" hidden checked>
                                <label for="order-none" class="order-by-option">Engu</label>
                                <input type="radio" id="order-price-asc" name="order-by" value="price" hidden>
                                <label for="order-price-asc" class="order-by-option">Verð (lægst)</label>
                                <input type="radio" id="order-price-desc" name="order-by" value="-price" hidden>
                                <label for="order-price-desc" class="order-by-option">Verð (hæst)</label>
                                <input type="radio" id="order-name-asc" name="order-by" value="address" hidden>
                                <label for="order-name-asc" class="order-by-option">Nafn (A-Ö)</label>
                                <input type="radio" id="order-name-desc" name="order-by" value="-address" hidden>
                                <label for="order-name-desc" class="order-by-option" hidden>Nafn (Ö-A)</label>
                            </div>
                        </div>
                    </div>
                    <button id="bookmark-toggle" data-on="false" class="flex justify-between px-2 ml-2 items-center no-border h-8 rounded-lg bg-white w-fit">
                        <span class="flex items-center g-2"><i id="bookmark-icon" class="far fa-bookmark text-primary"></i>Vistað</span>
                    </button>
                </div>
                <div id="property-list"></div>
            </div>
        </div>
    </div>
    <script src="{% static '/scripts/index.js' %}"></script>
{% endblock %}