{% extends "base.html" %}
{% load static %}
{% block title %}{{ listing.address }}{% endblock %}

{% block content %}
    {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
              <div class="w-full bg-green text-black text-left">
                {{ message }}
              </div>
            {% endif %}
      {% endfor %}
    {% endif %}
    <div class="whitespace16">
        <div class="flex py-4">
            <div class="col66 pos-rel">
                <img id="image-1" class="h-full rounded-lg" alt="Thumbnail image" src="{{ listing.thumbnail_path.url }} ">
                <i id="prev-image" class="fas fa-chevron-left image-button l-4 rounded"></i>
                <i id="next-image" class="fas fa-chevron-right image-button r-4 rounded"></i>
            </div>
            <div class="flex flex-col col34 ml-4">
                <div class="basis50 mb-4">
                       <img id="image-2" class="h-full rounded-lg" alt="Image 2" src="{% static '/img/test/listingtest.png' %}">
                </div>
                <div class="basis50">
                       <img id="image-3" class="h-full rounded-lg" alt="Image 3" src="{% static '/img/test/listingtest.png' %}">
                </div>
            </div>
        </div>
        <div class="flex pb-4">
            <div class="col66 px-2">
                <div class="flex justify-between items-stretch my-2">
                    <div class="flex">
                        <h1 class="pageTitle">{{ listing.address }}</h1>
                        <button data-id="{{ listing.id }}"
                                data-bookmarked="{% if bookmarked %}true{% else %}false{% endif %}"
                                class="bookmark-button px-2 ml-2">
                            <i class="{% if bookmarked %}fas{% else %}far{% endif %} fa-bookmark text-primary"></i>
                        </button>
                    </div>
                    <div class="flex items-center">
                        <p class="smallText infoText">Birt: {{ listing.post_date }}</p>
                        <div class="ml-4 px-2 hp-80 bg-dark rounded-2 flex items-center">
                            {% if listing.sold == False %}
                                <p class="green">Til sölu</p>
                            {% else %}
                                <p class="red">Seld</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="flex justify-between my-2">
                    <p>Ásett verð: <b>{{ listing.price }} kr.</b></p>
                </div>
                <div class="flex justify-between my-2">
                    <div class="descCol">
                        <p>{{ listing.postcode }} {{ listing.postcode.location }}</p>
                        <p><b>Tegund:</b> {{ listing.type.type }}</p>
                    </div>
                    <div class="descCol">
                        <p><b>Fermetrar:</b> {{ listing.sqr_meters }}</p>
                        <p><b>Herbergi:</b> {{ listing.rooms }}</p>
                    </div>
                    <div class="descCol">
                        <p><b>Svefnherbergi:</b> {{ listing.bedrooms }}</p>
                        <p><b>Baðherbergi:</b> {{ listing.bathrooms }}</p>
                    </div>
                </div>
                <div class="flex justify-between my-2">
                    <p>{{ listing.description }}</p>
                </div>
            </div>
            <div class="flex flex-col col34 ml-4">
                <div class="flex flex-col p-4 text-black rounded-4 bg-dark">
                    <div class="flex mb-2 mt-2">
                        <img src="{{ listing.seller.user.profile_image_path.url }}" class="profilePic" alt="Profile image">
                        <div class="ml-2">
                            <h3 class="text-base">{{ listing.seller.user.name }}</h3>
                            <h4 class="font-light">{{ listing.seller.user.postcode.location }}</h4>
                        </div>
                    </div>
                    <p class="mb-1 mt-4"><b>Sími:</b> {{ listing.seller.user.phone_number }}</p>
                    <p class="mb-4"><b>Email:</b> {{ listing.seller.user.email }}</p>
                    <button onclick="window.location.href='/seller-profile/{{ listing.seller.id }}/'" class="bg-white no-border rounded-3 text-base py-3 mt-4">Sjá seljanda</button>
                </div>
                {% if listing.sold == False and not offer %}
                    <button onclick="window.location.href='/listings/{{ listing.id }}/offers/create'" class="bg-black no-border rounded-3 text-base text-white m-4 py-3">Senda tilboð</button>
                {% elif listing.sold == False and offer %}
                    <button onclick="window.location.href='/listings/{{ listing.id }}/offers/{{ offer.id }}/change'" class="bg-black no-border rounded-3 text-base text-white m-4 py-3">Endursenda tilboð</button>
                    <p class="ml-4 px-2 hp-80 bg-dark rounded-2 flex center {% if offer.status == "Refused" %}red {% else %}text-black{% endif %}">Seinasta tilboð: {% if offer.status == "Pending" %}Í bið {% elif offer.status == "Rejected"%}Hafnað {% endif %}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {{ images|json_script:"listing-images" }};
    <script src="{% static '/scripts/listing.js' %}"></script>
{% endblock %}