{% extends "base.html" %}

{% block content %}
    <div class="whitespace30 mt-8">
    <h1 class="g-2">Breyta prófíl</h1>
    <div class="inputContainer flex-col">
    <br>
        <label for="input-name" class="flex flex-col text-sm ml-2">Nafn</label>
        <input type="text" id="input-name" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
        <label for="input-email" class="flex flex-col text-sm ml-2">Netfang</label>
        <input type="text" id="input-email" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
        <label for="input-phone" class="flex flex-col text-sm ml-2">Símanúmer</label>
        <input type="text" id="input-phone" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
        <label for="input-password" class="flex flex-col text-sm ml-2">Lykilorð</label>
        <input type="text" id="input-password" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
        <label for="input-address" class="flex flex-col text-sm ml-2">Heimilisfang</label>
        <input type="text" id="input-address" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
        <label for="input-nationalID" class="flex flex-col text-sm ml-2">Kennitala</label>
        <input type="text" id="input-nationalID" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
        <div class="flex gap-4">
            <label for="select-location" class="flex flex-col text-sm ml-2">Staðsetning</label>
            <select id="select-location" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                {% for postcode in postcodes %}
                <option value="{{ postcode.id }}">{{ postcode.location }}</option>
                {% endfor %}
            </select>
            <label for="select-postnumber" class="flex flex-col text-sm ml-2">Póstnúmer</label>
            <select type="text" id="select-postnumber" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                {% for postcode in Postcodes %}
                <option value="{{ postcode.id }}">{{ postcode.postcode }}</option>
                {% endfor %}
            </select>
        </div>
        <label for="select-country" class="flex flex-col text-sm ml-2">Land</label>
        <select id="select-country" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            {% for country in countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
        </select>
    </div>
    <br>
    <button class="bg-gray text-black no-border w-30 p-1 text-base rounded-lg">Breyta prófílmynd</button>
    <button class="bg-gray text-black no-border w-30 p-1 text-base rounded-lg">Breyta forsíðumynd</button>
    <div class="flex flex-row">
    <button class="bg-gray text-black no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Hætta við</button>
    <button class="bg-black text-white no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Staðfesta</button>
    </div>
</div>
{% endblock %}