{% extends "base.html" %}
{% block title %}Breyta prófíl{% endblock %}

{% block content %}
    <div class="whitespace30 mt-8">
        <h1 class="g-2 ml-4">Breyta prófíl</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="inputContainer flex-col g-2">
            <br>
                <label for="input-name" class="flex flex-col text-sm ml-2">Nafn</label>
                <input type="text" id="input-name" name="name" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10" value="{{ user.name }}">
                <label for="input-email" class="flex flex-col text-sm ml-2">Netfang</label>
                <input type="text" id="input-email" name="email" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10" value="{{ user.email }}">
                <label for="input-phone" class="flex flex-col text-sm ml-2">Símanúmer</label>
                <input type="text" id="input-phone" name="phone_number" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10" value="{{ user.phone_number }}">
                <label for="input-password" class="flex flex-col text-sm ml-2">Lykilorð (skildu eftir autt til að viðhalda gamla lykilorðið þitt)</label>
                <input type="text" id="input-password" name="password" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                <label for="input-address" class="flex flex-col text-sm ml-2">Heimilisfang</label>
                <input type="text" id="input-address" name="address" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10" value="{{ user.address }}">
                <label for="input-personalID" class="flex flex-col text-sm ml-2">Kennitala</label>
                <input type="text" id="input-personalID" name="personal_id" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10" value="{{ user.personal_id }}">
                <div class="flex g-4">
                    <label for="select-location" class="flex flex-col text-sm ml-2 w-half">Staðsetning</label>
                    <label for="select-postcode" class="flex flex-col text-sm ml-2 w-half">Póstnúmer</label>
                </div>
                <div class="flex g-4">
                    <select id="select-location" name="location" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                        <option value=" {{ user.location }}"></option>
                        {% for location in postcodes_by_location.keys %}
                            <option value="{{ location }}">{{ location }}</option>
                        {% endfor %}
                    </select>
                    <select id="select-postcode" name="postcode" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                        <option value=" {{ user.postcode }}"></option>
                        {% for location, postcodes in postcodes_by_location.items %}
                            {% for postcode in postcodes %}
                                <option value="{{ postcode }}" data-location="{{ location }}">{{ postcode }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <label for="select-country" class="flex flex-col text-sm ml-2">Land</label>
                <select id="select-country" name="country" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                    <option value=" {{ user.country }}"></option>
                    {% for country in countries %}
                        <option value="{{ country.id }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <div class="flex g-4">
                    <label for="choose-profile" class="flex g-2 p-2 rounded-lg items-center text-center text-black bg-gray text-sm cursor-pointer"><i class="fa fa-file-image-o"></i>Breyta prófílmynd</label>
                    <input type="file" id="choose-profile" name="profile_image" class="bg-gray text-black no-border w-fit-content p-1 text-sm rounded-lg" accept=".jpg,.jpeg,.png" hidden>
                    <label for="choose-cover" class="flex g-2 p-2 rounded-lg items-center text-center text-black bg-gray text-sm cursor-pointer"><i class="fa fa-file-image-o"></i>Breyta forsíðumynd</label>
                    <input type="file" id="choose-cover" name="cover_image" class="bg-gray text-black no-border w-fit-content p-1 text-sm rounded-lg" accept=".jpg,.jpeg,.png" hidden>
                </div>
            </div>

            <div class="flex flex-row">
                <button type="button" onclick="window.location.href='/mypages'" class="bg-gray text-black no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Hætta við</button>
                <button type="submit" class="bg-black text-white no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Staðfesta</button>
            </div>
        </form>
    </div>
{% endblock %}