{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="whitespace12 mb-large">
        <div class="pt-8">
            <img src="{% static '/img/test/bannertest.png' %}" class="rounded-1rem">
            <div class="flex flex-row">
                <img src="{% static '/img/test/profiletest.png' %}" class="profilePicLarge ml-12">
                <h2 class="ml-4 mt-4">Jón Jónsson</h2>
                <button class="no-border ml-3 px-3 rounded-2 height align center">Breyta prófíl</button>
                <button class="no-border ml-3 px-3 rounded-2 height align center">Breyta seljanda upplýsingum
                </button>
                <button class="no-border ml-3 px-3 rounded-2 height align center red">Skrá út</button>
            </div>
            <div>
                <h3 class="mx-2 mt-4">Mínar eignir</h3>
            </div>
            <div>
                <h3 class="mx-2 mtv-10">Mín tilboð</h3>
            </div>
            <div class="px-3 flex flex-row mt-8">
                <h5 class="font-light center wp-15">Heimilisfang</h5>
                <h5 class="ml-8  font-light center wp-15">Dagsetning</h5>
                <h5 class="ml-8  font-light center wp-15">Rennur út</h5>
                <h5 class="ml-8  font-light center wp-15">Staða</h5>
                <h5 class="ml-8  font-light center wp-15">Upphæð</h5>
                <h5 class="ml-8  font-light center wp-15">Seljandi</h5>
                <h5 class="font-light center wp-10"></h5>
            </div>
            <div class="px-3 flex flex-row mt-8 bg-gray py-3 rounded-3">
                <h5 class="font-light center wp-15">Heimilisfang</h5>
                <h5 class="ml-8  font-light center wp-15">01.01.2025</h5>
                <h5 class="ml-8  font-light center wp-15">24.12.2025</h5>
                <h5 class="ml-8  font-light center wp-15">Samþykkt</h5>
                <h5 class="ml-8  font-light center wp-15">100.000.000 kr.</h5>
                <h5 class="ml-8  font-light center wp-15">Jón Jónsson</h5>
                <button class="no-border px-3 rounded-2 height align center text-white bg-black text-small" style="width: 10%">Klára tilboð</button>
            </div>
        </div>
    </div>
{% endblock %}