{% extends "base.html" %}
{% load static %}
{% block title %}{{ request.user.name }}{% endblock %}

{% block content %}
    <div class="whitespace12 mb-large">
        <div class="pt-8">
            <img src="{% if user.cover_image_path %}{{ user.cover_image_path.url }}{% else %}/media/img/coverimages/default.jpg{% endif %}" alt="Forsíðumynd" class="rounded-1rem w-full h-screen-30">
            <div class="flex flex-row">
                <img src="{% if user.profile_image_path %}{{ user.profile_image_path.url }}{% else %}/media/img/profilepics/default.jpg{% endif %}" alt="Prófílmynd" class="profilePicLarge ml-12 asp-1-1">
                <h2 class="ml-4 mt-4">{{ request.user.name }}</h2>
                <button class="no-border ml-3 px-3 rounded-2 height align center" onclick="window.location.href='change-profile'">Breyta prófíl</button>
                <button class="no-border ml-3 px-3 rounded-2 height align center" onclick="window.location.href='change-seller-information'">{% if seller_profile %}Breyta{% else %}Bæta við{% endif %} seljanda upplýsingum
                </button>
                <button class="no-border ml-3 px-3 rounded-2 height align center red" onclick="window.location.href='/logout'">Skrá út</button>
            </div>
            {% if seller_profile %}
                <h3 class="mx-2 mt-8">Mínar eignir</h3>
                <div id="seller-listings">
                </div>
            {% endif %}
            <div>
                <h3 class="mx-2 mt-8">Tilboð til mín</h3>
            </div>
            <div class="px-3 flex flex-row mt-8">
                <h5 class="font-light center wp-21">Heimilisfang</h5>
                <h5 class="ml-8  font-light center wp-21">Bjóðandi</h5>
                <h5 class="ml-8  font-light center wp-21">Rennur út</h5>
                <h5 class="ml-8  font-light center wp-21">Upphæð</h5>
                <h5 class="font-light center wp-26"></h5>
            </div>
            {% for offer in incoming_offers %}
                <div class="px-3 flex flex-row mt-4 bg-gray py-3 rounded-3">
                    <h5 class="font-light center wp-21"><a href='{% url 'listing-detail' listing_id=offer.listing.id %}'>{{ offer.listing.address }}</a></h5>
                    <h5 class="ml-8  font-light center wp-21">{{ offer.buyer.name }}</h5>
                    <h5 class="ml-8  font-light center wp-21">{{ offer.expiry_date }}</h5>
                    <h5 class="ml-8  font-light center wp-21">{{ offer.amount }}</h5>
                    <form method="POST" class="wp-26">
                        {% csrf_token %}
                        <input type="hidden" name="offer_id" value="{{ offer.id }}">
                        <input type="hidden" name="listing_id" value="{{ offer.listing.id }}">
                        <button type="submit" name="accepted" value="Accepted" class="{% if offer.status == "Accepted"%}border{% else %}no-border{% endif %} border-green px-3 rounded-2 height align center text-green bg-white text-small mr-1p" {% if offer.listing.sold == True %}disabled {% endif %}>Samþykkt
                        </button>
                        <button type="submit" name="contingent" value="Contingent" class="{% if offer.status == "Contingent"%}border{% else %}no-border{% endif %} border-yellow px-3 rounded-2 height align center text-yellow bg-white text-small mr-1p" {% if offer.listing.sold == True %}disabled {% endif %}>Skilyrt
                        </button>
                        <button type="submit" name="rejected" value="Rejected" class="{% if offer.status == "Rejected" %}border{% elif offer.listing.sold == True and offer.status == "Pending" %}border{% else %}no-border{% endif %} border-red px-3 rounded-2 height align center text-red bg-white text-small" {% if offer.listing.sold == True %}disabled {% endif %}>Hafnað
                        </button>
                    </form>
                </div>


            {% empty %}
                <h4 class="ml-3 text-gray font-light my-4 text-blue">Hér verða tilboðin sem þú færð sýnileg</h4>
            {% endfor %}
            <div>
                <h3 class="mx-2 mtv-10">Send tilboð</h3>
            </div>
            <div class="px-3 flex flex-row mt-8">
                <h5 class="font-light center wp-15">Heimilisfang</h5>
                <h5 class="ml-8  font-light center wp-15">Dagsetning</h5>
                <h5 class="ml-8  font-light center wp-15">Rennur út</h5>
                <h5 class="ml-8  font-light center wp-15">Staða</h5>
                <h5 class="ml-8  font-light center wp-15">Upphæð</h5>
                <h5 class="ml-8  font-light center wp-15">Seljandi</h5>
                <h5 class="font-light center wp-10"></h5>
            </div>

            {% for offer in outgoing_offers %}
                <div class="px-3 flex flex-row mt-8 bg-gray py-3 rounded-3">
                    <h5 class="font-light center wp-15">{{ offer.listing.address }}</h5>
                    <h5 class="ml-8 font-light center wp-15">{{ offer.post_date }}</h5>
                    <h5 class="ml-8 font-light center wp-15">{{ offer.expiry_date }}</h5>
                    <h5 class="ml-8 font-light center wp-15">
                        {% if offer.status == "Pending" %}Í bið
                        {% elif offer.status == "Accepted" %}Samþykkt
                        {% elif offer.status == "Contingent" %}Skilyrt
                        {% elif offer.status == "Rejected" %}Hafnað
                        {% endif %}
                    </h5>
                    <h5 class="ml-8 font-light center wp-15">{{ offer.amount }}</h5>
                    <h5 class="ml-8 font-light center wp-15">{{ offer.listing.seller.user.name }}</h5>
                    {% if offer.status == "Accepted" or offer.status == "Contingent" %}
                        <button onclick="window.location.href='{% url 'finalize-offer-contact' listing_id=offer.listing.id offer_id=offer.id %}'"
                                class="no-border px-3 rounded-2 height align center text-white bg-black text-small wp-10">
                            Klára tilboð
                        </button>
                    {% endif %}
                </div>
            {% empty %}
                <h4 class="ml-3 text-gray font-light my-4 text-blue">Hér verða tilboðin sem þú sendir sýnileg</h4>
            {% endfor %}


        </div>
    </div>
    <script src="{% static '/scripts/seller-pofile.js' %}"></script>
{% endblock %}