{% extends "base.html" %}

{% block content %}
    <div class="whitespace30 mt-8">
        <h1 class="g-2 ml-4">Nýskráning</h1>
        <div class="inputContainer flex-col g-2 ml-2">
        <br>
            <label for="input-name" class="flex flex-col text-sm ml-2">Nafn</label>
            <input type="text" id="input-name" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            <label for="input-email" class="flex flex-col text-sm ml-2">Netfang</label>
            <input type="text" id="input-email" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            <label for="input-phone" class="flex flex-col text-sm ml-2">Símanúmer</label>
            <input type="text" id="input-phone" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            <label for="input-password" class="flex flex-col text-sm ml-2">Lykilorð</label>
            <input type="text" id="input-password" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            <label for="input-address" class="flex flex-col text-sm ml-2">Heimilisfang</label>
            <input type="text" id="input-address" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            <label for="input-nationalID" class="flex flex-col text-sm ml-2">Kennitala</label>
            <input type="text" id="input-nationalID" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
            <div class="flex g-4">
                <label for="select-location" class="flex flex-col text-sm ml-2 w-half">Staðsetning</label>
                <label for="select-postnumber" class="flex flex-col text-sm ml-2 w-half">Póstnúmer</label>
            </div>
            <div class="flex g-4">
                <select id="select-location" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                    {% for postcode in postcodes %}
                    <option value="{{ postcode.id }}">{{ postcode.location }}</option>
                    {% endfor %}
                </select>
                <select id="select-postnumber" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                    {% for postcode in postcodes %}
                    <option value="{{ postcode.id }}">{{ postcode.postcode }}</option>
                    {% endfor %}
                </select>
            </div>
            <label for="select-country" class="flex flex-col text-sm ml-2">Land</label>
            <select id="select-country" class="w-full no-border rounded-lg bg-none p-2-left text-base bg-white h-10">
                {% for country in countries %}
                    <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <div class="flex g-4">
                <button class="bg-gray text-black no-border w-fit-content p-1 text-sm rounded-lg"><i class="fa fa-file-image-o"></i>  Bæta við prófílmynd</button>
                <button class="bg-gray text-black no-border w-fit-content p-1 text-sm rounded-lg"><i class="fa fa-file-image-o"></i>  Bæta við forsíðumynd</button>
            </div>
            <p class="bg-gray text-black no-border w-fit-content p-1 text-sm rounded-lg">Ert þú nú þegar með aðgang? <a href="http://127.0.0.1:8000/login">Innskráning</a></p>
        </div>

        <div class="flex flex-row g-4">
            <button class="bg-gray text-black no-border w-half p-1 text-base ml-2 mb-4 mt-2 h-10 rounded-lg">Hætta við</button>
            <button class="bg-black text-white no-border w-half p-1 text-base mb-4 mt-2 h-10 rounded-lg">Staðfesta</button>
        </div>
    </div>
{% endblock %}